{% extends 'base.html' %}
    {% block body %}
    <div class=jumbotron>
        <h3>
        <span style="padding:10px"><a href="/">Home</a></span>
        <span style="padding:10px"><a href="/customers">Customers</a></span>
        <span style="padding:10px"><a href="/pay">Pay</a></span>
        <span style="padding:10px"><a href="/transactions">Transactions</a></span>
    </h3>
    </div>
    <h2> Your Transactions</h2>
       <table border=3>
        <tr>
            <th style="padding: 10px;">Name of the recipient</th>
            <th style="padding: 10px;">Amount Recieved</th>
        </tr>
        {% for transaction in transactions %}
        <tr> 
            <td>{{transaction.name}}</td>
            <td>{{transaction.amount}}</td>
          </tr>
        {% endfor %}
        </table>
    {% endblock %}